<section id="login">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/login.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inicio de Sesión</h5>
          <form #form="ngForm">
            <div class="mb-3">
              <label for="email" class="form-label">Usuario</label>
              <input [(ngModel)]="usuario.usuario" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel #email="ngModel" type="email" class="form-control" name="email" placeholder="usuario@ejemplo.com">
              <div *ngIf="email.errors" class="alert alert-danger">
                Ingresa un email válido
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password">
            </div>
            <!--Botones que validan el error de no colocar un email válido-->
            <button *ngIf="email.errors" id="ingresar" class="btn btn-secondary" disabled>Ingresar</button>
            <button *ngIf="!(email.errors)" (click)="getUsuarioLogin()" id="ingresar" class="btn btn-success">Ingresar</button>
          </form>
          <a routerLink="/signup">Regístrate</a>
        </div>
    </div>
</section>
